[submodule "public"]
	path = public
	url = https://github.com/wesleytian/wesleytian.github.io.git
[submodule "wesleytian.github.io"]
	path = wesleytian.github.io
	url = https://github.com/wesleytian/wesleytian.github.io.git
