[submodule "public"]
	path = public
	url = https://github.com/wesleytian/wesleytian.github.io.git
	branch = master
[submodule "publicgit"]
	path = publicgit
	url = https://github.com/wesleytian/wesleytian.github.io.git
	branch = master
